@using TakiUI4.Models.DTOs.Product
@model List<GetProductDTO>

<div class="container">
    <div class="row g-4">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-md-4">
                @Html.Partial("~/Views/Shared/Partials/_ProductCard.cshtml", item)
            </div>
        }
    </div>
</div>


