@using TakiUI4.Areas.Admin.Models
@model ProductViewModel

@{
    ViewData["Title"] = "Ürün Detayı";
}

<div class="detail-container">
    <h1 class="text-center">Urun Detaylari</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success main-button">Main Git</a>
</div>




