.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent; /* 🔥 Tamamen saydam */
    color: white; /* Eğer slider görselin üstünde görünmesi için */
    padding: 20px 0;
    transition: background-color 0.3s ease;
}

    .main-header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.main-nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
