@{
    ViewData["Title"] = "Admin Ana Menü";
}

<div>
    admindesin
    <div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success">Main Git</a>
    </div>
    <div>
        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-success">Urun Islemleri</a>
    </div>
    <div>
        <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="btn btn-success">Kategori Islemleri</a>
    </div>
    <div>
        <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-success">Kullanıcı Islemleri</a>
    </div>
    <div>
        <a asp-area="Admin" asp-controller="Slider" asp-action="Index" class="btn btn-success">Slider Islemleri</a>
    </div>
</div>
